<div id="container" class="container mt-5">
  <div>
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="d-flex">
        <label for="nome" class=""
          >Nome<input
            type="text"
            id="nome"
            name="nome"
            ngModel
            [value]="user.nome"
            class="form-control"
            required
        /></label>

        <label for="cognome"
          >Cognome<input
            type="text"
            id="cognome"
            name="cognome"
            ngModel
            [value]="user.cognome"
            class="form-control"
            required
        /></label>
      </div>
      <div class="d-flex">
        <label for="psw"
          >Password<input
            type="text"
            id="psw"
            name="psw"
            class="form-control"
            ngModel
            [value]="user.psw"
            required
        /></label>

        <label for="pswConfirm"
          >Ripeti Password<input
            type="text"
            id="pswConfirm"
            name="pswConfirm"
            ngModel
            [value]="user.pswConfirm"
            class="form-control"
            required
        /></label>
      </div>
      <div *ngFor="let ciao of generi">
        <label for="genere">
          <input
            type="radio"
            name="genere"
            id="{{ ciao.label }}"
            ngModel
            [value]="ciao.value"
            required
          />
          {{ ciao.label }}
        </label>
      </div>
      <div class="form-group">
        <label for="immagineProfilo">Carica Immagine</label>
        <input
          type="file"
          id="immagineProfilo"
          name="immagineProfilo"
          ngModel
          [value]="user.immagineProfilo"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="biografia">Biografia</label>
        <textarea
          name="biografia"
          ngModel
          [value]="user.biografia"
          id="biografia"
          rows="2"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          ngModel
          [value]="user.username"
          name="username"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn-custom mt-3" [disabled]="form.invalid">
        Registra
      </button>
    </form>
  </div>
</div>
